/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* переменные (variables) */
:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --text-color: #757575;
  --head-color: #212121;
  --accent-color: #2196f3;
  --nav-bg: #ffffff;
  --hero-bg: #2f303a;
  --footer-bg: #2f303a;
  --section-bg: #e5e5e5;
  --team-bg: #f5f4fa;
}
/* переменные */

/* селектор body (на весь контент) */
body {
  font-family: var(--main-font);
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
}
/* селектор body */

/* сносим маркеры всем спискам */
ul {
  list-style: none;
}
/* сносим маркеры всем спискам */

/* сносим подчеркивания ссылкам */
a {
  text-decoration: none;
}
/* сносим подчеркивания ссылкам */

/* цвет текста для h2/h3/p */
h2,
h3 {
  color: var(--head-color);
  font-weight: 700;
  letter-spacing: 0.03em;
}
/* цвет текста для h2/h3/p */

.container {
  width: 1600;
}

/* header */
.header .container {
  background: var(--nav-bg);
}
/* logo */
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #000000;
}
.logo .logo-color {
  color: #2196f3;
}
/* logo */

/* nav */
.nav-list .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--head-color);
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--accent-color);
}
.header .active-nav {
  color: var(--accent-color);
}
/* nav */

/* adress */
.nav-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 00.02em;
  color: var(--text-color);
}
.nav-adress-link {
  color: inherit;
}
.nav-adress-link:hover,
.nav-adress-link:focus {
  color: var(--accent-color);
}
/* adress */
/* header */

/* main */
/* hero */
.hero {
  background: var(--hero-bg);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* button */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}
/* button */
/* sections */
.features-title {
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.714;
}
.activity,
.team {
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
}
.features,
.activity-list {
  background: var(--section-bg);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}
.profession {
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
}
.team-card {
  background: var(--team-bg);
}
/* main */

/* footer */
.footer-adress {
  font-size: 14px;
  line-height: 1.714em;
  color: #ffffff;
}
.footer-adress-link {
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  background: var(--footer-bg);
}
.adress-list {
  font-style: normal;
}
.foot {
  color: #ffffff;
}

/* portfolio */
/* filter-buttonbutton */
.filter-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* filter-button */

/* work-list */
.work-list {
  font-size: 16px;
  line-height: 1.875;
}
.workname {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
